html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#descriptionsection {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#descriptionsection p {
  padding: 19px 35px;
}

#destinationsection h2 {
  font-family: Dancing Script;
  font-weight: bold;
  padding: 4px 35px;
}

#descriptionsection p {
  font-family: "Times New Roman", Times, serif;
}

#photossection {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

#photossection img {
  max-height: 400px;
  max-width: 280px;
  border-radius: 5%;
}

.image-container {
  position: relative;
  margin: 0 auto;
}

.text-overlay {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.cityname {
  font-family: Dancing Script;
  font-weight: bold;
  color: white;
  margin-bottom: 3px;
  font-size: 25px;
}
.countryname {
  font-family: Montserrat;
  color: white;
}
/* CSS For big monitor screens */
@media only screen and (min-width: 1200px) {
  .image-container {
    margin: 10px;
  }
}
/* CSS styling for phone device */
@media only screen and (max-device-width: 480px) {
  #descriptionsection {
    display: flex;
    flex-direction: column;
  }

  #photossection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }

  #photossection img {
    border-radius: 5%;
    max-height: 300px;
    max-width: 250px;
    margin-top: 10px;
  }
}
/* CSS styling for tablettes*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  #photossection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
  #photossection img {
    border-radius: 5%;

    margin-top: 10px;
  }
  #destinationsection {
    margin: 10px 50px;
  }
}
