html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background-color: #ffd31d;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 20px;
}

#email {
  width: 400px;
  height: 35px;
  border: none;
}

#subscribebutton {
  background-color: #519259;
  border: none;
  height: 35px;
  color: antiquewhite;
}

a {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #email {
    width: 100%;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 767px) {
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #email {
    width: 100%;
    margin-top: 1rem;
  }

  #subscribebutton {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 480px) {
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #email {
    width: 100%;
    margin-top: 1rem;
  }

  #subscribebutton {
    margin-top: 1rem;
    width: 100%;
  }
}
