html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background-color: #ffd31d;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 20px;
}

#email {
  width: 400px;
  height: 35px;
  border: none;
}

#subscribebutton {
  background-color: #519259;
  border: none;
  height: 35px;
  color: antiquewhite;
  border-radius: 5%;
}

a {
  color: black;
  text-decoration: none;
}

/* CSS styling for phone device */
@media only screen and (max-device-width: 480px) {
  footer {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-left: 10px;
  }
  #email {
    width: 200px;
    height: 33px;
    border: none;
  }
  #Links {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #Links a {
    padding-bottom: 3px;
    font-size: 14px;
  }
  #newssection {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
  }

  #subscribebutton {
    background-color: #519259;
    border: none;
    height: 33px;
    color: antiquewhite;
    border-radius: 5%;
  }
}
