html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  align-self: center;
}

#searchsection {
  border-bottom: 1px white solid;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
}

#destinationbutton {
  background: none;
  border: none;
  font-size: 15px;
  margin-left: 45px;
  color: white;
}

#signbutton {
  border-radius: 20%;
  width: 60px;
  background-color: white;
  border: 1.5px black;
  font-size: 15px;
  padding: 3px 3px;
  margin-left: 15px;
  margin-right: 5px;
  margin-top: 4px;
  margin-bottom: 4px;
}

#searchbutton {
  background: none;
  border: none;
  font-size: 15px;
  padding: 0;
}

#bookingsection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
}

#bookingdetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#bookingsection h1 {
  color: white;
}

#bookingsection h6 {
  color: white;
  margin-right: 30px;
  font-size: 12px;
}

#bookingsection input {
  margin-right: 12px;
  height: 33px;
  width: 180px;
  text-align: center;
  border-radius: 5%;
  border: none;
}

#bookingsection button {
  height: 33px;
  border: none;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

/* Media Queries */
/* CSS For big monitor screens */
@media only screen and (min-width: 1200px) {
  header {
    height: 95vh;
    padding-bottom: 20px;
  }
}
/* CSS styling for phone device */
@media only screen and (max-device-width: 480px) {
  header {
    width: 100%;
    height: 50vh;
  }
  #bookingsection {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 3px red solid;
  }
  #bookingdetails {
    border: pink 3px solid;
  }

  #bookingsection h1 {
    color: white;
    font-weight: bold;
  }
  #bookingsection input {
    border: blue 3px solid;
  }
  #bookingsection h6 {
    color: white;
    font-size: 12px;
    font-weight: bold;
  }
  #bookingsection button {
    height: 33px;
    border: none;
    border-radius: 5%;
  }
}
/* CSS styling for tablettes*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  header {
    width: 100%;
    height: 70vh;
  }
  #bookingsection {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
  }

  #bookingsection h1 {
    color: white;
    font-weight: bold;
  }
  #bookingsection input {
    width: min-content;
    margin-bottom: 20px;
  }
  #bookingsection button {
    height: 33px;
    border: none;
    border-radius: 5%;
    margin-bottom: 20px;
  }
}
